MONGO_URI=mongodb+srv://blackshadow0705237919_db_user:dinuka123@cluster0.ghsugck.mongodb.net/EV_parking?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=mysecretkey
FRONTEND_URL=http://localhost:3000
PORT=5000
